* {
  direction: rtl;
}

@font-face {
  font-family: "Jameel Noori Nastaleeq";
  src: url("../src/assets/fonts/jnnr.ttf") format("truetype");
}

.urdu-font {
  font-family: "Jameel Noori Nastaleeq", Arial, sans-serif !important;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
